sphinx
https://github.com/numpy/numpydoc/archive/master.zip
sphinx_bootstrap_theme
https://github.com/sphinx-gallery/sphinx-gallery/archive/master.zip
matplotlib
pillow
numpy
pandas
h5py
nilearn>=0.7.0
mne>=0.21.0
https://codeload.github.com/larsoner/sphinx-bootstrap-divs/zip/master
https://codeload.github.com/rob-luke/mne-bids/zip/nirs
lets-plot
memory_profiler
statsmodels
Ipython
lxml
sphinx-fontawesome
