# requirements for building docs
sphinx
numpydoc
pydata_sphinx_theme==0.13.3
sphinx-gallery
sphinxcontrib-bibtex>=2.3
memory_profiler
seaborn
sphinx_copybutton

# mne-nirs specific requirements
matplotlib
pillow
numpy
h5py
mne-bids
memory_profiler
Ipython
seaborn
fooof
snirf
statsmodels
dabest
mne-qt-browser
