sphinx_gallery
sphinx_bootstrap_theme
numpydoc
matplotlib
pillow
numpy
seaborn
pandas
h5py
https://github.com/nilearn/nilearn/archive/master.zip
https://codeload.github.com/mne-tools/mne-python/zip/master
https://codeload.github.com/larsoner/sphinx-bootstrap-divs/zip/master
