sphinx_gallery
sphinx_bootstrap_theme
sphinx-bootstrap-divs
numpydoc
matplotlib
pillow
numpy
seaborn
pandas
https://github.com/nilearn/nilearn/archive/master.zip
https://codeload.github.com/mne-tools/mne-python/zip/master
