# requirements for building docs
sphinx<6
git+https://github.com/numpy/numpydoc.git@main
pydata_sphinx_theme==0.13.1
git+https://github.com/sphinx-gallery/sphinx-gallery@master
sphinxcontrib-bibtex>=2.3
memory_profiler
seaborn
sphinx_copybutton

# mne-nirs specific requirements
matplotlib
pillow
numpy
h5py
mne-bids
memory_profiler
Ipython
sphinx-fontawesome
seaborn
fooof
snirf
statsmodels
dabest
mne-qt-browser
