name: Docker Release

on:
  workflow_dispatch:
    inputs:
      mne_python:
        description: 'MNE-Python version (e.g. v0.23.0 or main)'
        required: true
        default: 'main'
      mne_nirs:
        description: 'MNE-NIRS version (e.g. v0.1.0 or main)'
        required: true
        default: 'main'
      nilearn:
        description: 'Nilearn version (e.g. v0.1.0 or main)'
        required: true
        default: 'main'

jobs:
  version:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image
        run: DOCKER_BUILDKIT=1 docker build --build-arg mne_python_v={{ github.event.inputs.mne_python }} --build-arg mne_nirs_v={{ github.event.inputs.mne_nirs }} --build-arg nilearn_v={{ github.event.inputs.nilearn }} --progress=plain -t ghcr.io/${GITHUB_REPOSITORY}/${GITHUB_REF##*/} .

      - name: Tag image
        run: docker tag ghcr.io/${GITHUB_REPOSITORY}/${GITHUB_REF##*/} ghcr.io/mne-tools/mne-nirs/image:{{ github.event.inputs.mne_nirs }}

      - name: Push image to github
        run: docker push ghcr.io/rob-luke/mne-nirs/image:{{ github.event.inputs.mne_nirs }}

      - name: System info
        run: docker run ghcr.io/mne-tools/mne-nirs/image:{{ github.event.inputs.mne_nirs }} python -c "import mne_nirs; print(mne_nirs.__version__)"