name: Docker Release

on:
  workflow_dispatch:
    inputs:
      mne_python:
        description: 'MNE-Python version (e.g. v0.24.0 or main)'
        required: true
        default: 'main'
      mne_nirs:
        description: 'MNE-NIRS version (e.g. v0.1.2 or main)'
        required: true
        default: 'main'
      nilearn:
        description: 'Nilearn version (e.g. 0.8.1 or main)'
        required: true
        default: 'main'

jobs:
  version:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image
        run: docker-compose build --build-arg mne_python_v=${{ github.event.inputs.mne_python }} --build-arg mne_nirs_v=${{ github.event.inputs.mne_nirs }} --build-arg nilearn_v=${{ github.event.inputs.nilearn }} base

      - name: List docker images
        run: docker images

      - name: Rename base image tag for release
        run: docker tag mne-tools/mne-nirs ghcr.io/mne-tools/mne-nirs:${{ github.event.inputs.mne_nirs }}

      - name: Push image to github
        run: docker push ghcr.io/mne-tools/mne-nirs:${{ github.event.inputs.mne_nirs }}

      - name: System info
        run: docker run ghcr.io/mne-tools/mne-nirs:${{ github.event.inputs.mne_nirs }} python -c "import mne_nirs; print(mne_nirs.__version__)"
