name: style

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:

  lint:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@master
        with:
          python-root-list: "mne_nirs"
          use-pylint: false
          use-pycodestyle: false
          use-flake8: true
          use-black: false
          use-mypy: false
          use-isort: false

  spell:
    runs-on: ubuntu-20.04
    env:
      CODESPELL_DIRS: 'mne_nirs/ doc/ examples/'
      CODESPELL_SKIPS: 'doc/auto_*,*.fif,*.eve,*.gz,*.tgz,*.zip,*.mat,*.stc,*.label,*.w,*.bz2,*.annot,*.sulc,*.log,*.local-copy,*.orig_avg,*.inflated_avg,*.gii,*.pyc,*.doctree,*.pickle,*.inv,*.png,*.edf,*.touch,*.thickness,*.nofix,*.volume,*.defect_borders,*.mgh,lh.*,rh.*,COR-*,FreeSurferColorLUT.txt,*.examples,.xdebug_mris_calc,bad.segments,BadChannels,*.hist,empty_file,*.orig,*.js,*.map,*.ipynb,searchindex.dat,install_mne_c.rst,plot_*.rst,*.rst.txt,c_EULA.rst*,*.html,gdf_encodes.txt,*.svg,references.bib'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - uses: GuillaumeFavelier/actions-codespell@feat/quiet_level
        with:
          path: ${{ env.CODESPELL_DIRS }}
          skip: ${{ env.CODESPELL_SKIPS }}
          quiet_level: '3'
          builtin: 'clear,rare,informal,names'
          ignore_words_file: '.github/workflows/ignore_words.txt'
        name: 'Run codespell'
