name: "docs"
on:
- pull_request

jobs:
  job:
    name: 'build'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - shell: bash -el {0}
      run: |
        cp requirements_doc.txt doc/requirements.txt
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "doc/"
        pre-build-command: "apt-get update -y && apt-get install -y python3-dev build-essential git"
    - uses: actions/upload-artifact@v1
      with:
        name: DocumentationHTML
        path: doc/_build/html/
