name: "Pull Request Docs Check"
on:
- pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - shell: bash -el {0}
      run: |
        cp requirements_doc.txt doc/requirements.txt
        sudo apt-get install python3-dev build-essential
        pip install psutil
    - shell: bash -el {0}
      run: |
        git clone --depth 1 https://github.com/rob-luke/BIDS-NIRS-Tapping.git examples/BIDS-NIRS-Tapping
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "doc/"
    - uses: actions/upload-artifact@v1
      with:
        name: DocumentationHTML
        path: doc/_build/html/
