name: "docs"
on:
- pull_request


jobs:
  # PIP + non-default stim channel + log level info
  job:
    name: 'docs'
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    env:
      DISPLAY: ':99.0'
      MNE_LOGGING_LEVEL: 'info'
      MNE_STIM_CHANNEL: 'STI101'
      OPENBLAS_NUM_THREADS: '1'
      PYTHONUNBUFFERED: '1'
      PYTHON_VERSION: '3.9'
      MNE_3D_BACKEND: 'pyvistaqt'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: ./tools/setup_xvfb.sh
        name: 'Setup xvfb'
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
        name: 'Setup python'
      - name: Download fOLD data
        shell: bash -el {0}
        run: |
          curl -L https://github.com/nirx/fOLD-public/archive/master.zip --output data.zip
          pwd
          mkdir ~/mne_data
          unzip data.zip -d ~/mne_data/fOLD
          ls
          ls ~
          ls ~/mne_data/fOLD
      - shell: bash -el {0}
        run: |
          ./tools/github_actions_dependencies.sh
          source tools/get_minimal_commands.sh
        name: 'Install dependencies'
      - shell: bash -el {0}
        run: |
          pip install --progress-bar off --upgrade -r requirements_doc.txt
        name: 'Install doc dependencies'
      - shell: bash -el {0}
        run: ./tools/github_actions_install.sh
        name: 'Install MNE'
      - shell: bash -el {0}
        run: ./tools/github_actions_infos.sh
        name: 'Show infos'
      - shell: bash -el {0}
        run: |
          git reset --hard "$GITHUB_SHA"
          git checkout -q -B "$GITHUB_REF"
          git reset --hard "$GITHUB_SHA"
      - shell: bash -el {0}
        run: |
          git status
      - shell: bash -el {0}
        run: ./tools/github_actions_docs.sh
        name: 'Build docs'
      - uses: actions/upload-artifact@v1
        with:
          name: DocumentationHTML
          path: doc/_build/html/
