name: 'tests'
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.type }}
  cancel-in-progress: true

jobs:
  # PIP + non-default stim channel + log level info
  job:
    name: '${{ matrix.os }} / ${{ matrix.kind }} / ${{ matrix.mne }}'
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            mne: stable
            kind: pip
            python: "3.10"  # oldest
          - os: ubuntu-latest
            mne: dev
            kind: pip
            python: "3.12"  # newest
          - os: macos-14
            mne: dev
            kind: conda
            python: "3.12"
          - os: windows-latest
            mne: dev
            kind: conda
            python: "3.10"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
        if: matrix.kind == 'pip'
      - uses: pyvista/setup-headless-display-action@main
        with:
          qt: true
          pyvista: false
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          environment-name: mne-nirs
          create-args: >-
            python=${{ matrix.python }}
        if: matrix.kind == 'conda'
      - run: pip install -r requirements_testing.txt
      - run: git clone https://github.com/mne-tools/mne-python
      - run: pip install --upgrade --pre -e ./mne-python git+https://github.com/nilearn/nilearn
        if: matrix.mne == 'dev'
        name: Install MNE and nilearn dev
      # - run: pip install --upgrade --pre --force --only-binary=":all:" --index-url "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" "numpy>=2.0.0rc1" scipy h5py matplotlib pandas scikit-learn statsmodels "tables>=3.9.3.dev0"
      #   if: matrix.mne == 'dev' && startsWith(matrix.os, 'ubuntu')
      #   name: Install numpy, scipy, nilearn pre
      - run: pip install -ve . "numpy<2"
      - run: mne sys_info
      - run: ./tools/get_testing_version.sh
        working-directory: mne-python
      - uses: actions/cache@v4
        with:
          key: ${{ env.TESTING_VERSION }}
          path: ~/mne_data
      - run: ./tools/github_actions_download.sh
      - run: pytest --cov=mne_nirs --cov-report xml -vv -m "not examples" "mne_nirs/"
      - uses: codecov/codecov-action@v5
        if: success()
