name: 'tests'
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.type }}
  cancel-in-progress: true

jobs:
  # PIP + non-default stim channel + log level info
  job:
    name: '${{ matrix.os }} / ${{ matrix.kind }} / ${{ matrix.mne }}'
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            mne: stable
            kind: pip
            python: "3.9"  # oldest
          - os: ubuntu-latest
            mne: dev
            kind: pip
            python: "3.12"  # newest
          - os: macos-latest
            mne: dev
            kind: conda
            python: "3.11"
          - os: windows-latest
            mne: dev
            kind: conda
            python: "3.10"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
        if: matrix.kind == 'pip'
      - uses: pyvista/setup-headless-display-action@main
        with:
          qt: true
          pyvista: false
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: mne-nirs
          create-args: >-
            python=${{ matrix.python }}
        if: matrix.kind == 'conda'
      - run: pip install -r requirements_testing.txt
      - run: pip install --upgrade --pre git+https://github.com/mne-tools/mne-python git+https://github.com/nilearn/nilearn --index-url "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" "numpy>=2.0.0rc1" scipy
        if: matrix.mne == 'dev'
      - run: pip install -ve .
      - run: mne sys_info
      - run: ./tools/github_actions_download.sh
      - run: pytest --cov=mne_nirs --cov-report xml -vv -m "not examples" "mne_nirs/"
      - uses: codecov/codecov-action@v1
        if: success()
